[submodule "nvim-config"]
	path = nvim-config
	url = git@github.com:201dreamers/nvim-config.git
[submodule "corne-fw"]
	path = corne-fw
	url = git@github.com:201dreamers/corne-fw.git
[submodule "tmux-config"]
	path = tmux-config
	url = git@github.com:201dreamers/tmux-config.git
[submodule "zsh-config"]
	path = zsh-config
	url = git@github.com:201dreamers/zsh-config.git
[submodule "kitty-config"]
	path = kitty-config
	url = git@github.com:201dreamers/kitty-config.git
